# File: ConText.keymap
# Description: ConText keymap layout.
# Please don't edit it manually, it'll be replaced without confirmation.
# I think to copy it to Custom.keymap and edit will be a good idea.
# Please notify me if you find any mismatch.

#File
File.New                      Ctrl+N
File.Open                     Ctrl+O
File.Reload
File.Close                    Ctrl+F4
File.CloseAll                 Alt+Shift+F4
File.Save                     Ctrl+S
File.SaveAs                   F12
File.SaveAll
File.ShowFileLocation
File.PageSetup
File.PrintSetup
File.PrintPreview
File.Print                    Ctrl+P
File.Exit                     Alt+F4
#Edit
Edit.Undo                     Ctrl+Z
Edit.Redo                     Ctrl+Shift+Z
Edit.Cut                      Ctrl+X
Edit.Cut                      Shift+Delete
Edit.Copy                     Ctrl+C
Edit.Copy                     Ctrl+Insert
Edit.Paste                    Ctrl+V
Edit.Paste                    Shift+Insert
Edit.CutAppend
Edit.CutAppend
Edit.CutBookmarkedLines
Edit.CopyAppend
Edit.CopyAppend
Edit.CopyBookmarkedLines
Edit.Delete                   Delete
Edit.DeletetoEndOfWord        Ctrl+T
Edit.DeleteWordBack           Ctrl+Backspace
Edit.DeleteLine               Ctrl+Y
Edit.DeleteBookmarkedLines
Edit.SelectWord
Edit.SelectLine
Edit.SelectAll
Edit.ScrollUp                 Ctrl+Up
Edit.ScrollToCenter
Edit.ScrollDown               Ctrl+Down
#Search
Edit.Find                     Ctrl+F
Edit.Replace                  Ctrl+R
Edit.FindNext                 F3
Edit.FindPrevious             Shift+F3
Edit.GoTo                     Ctrl+G
Edit.JumpNext
Edit.JumpPrevious
Edit.ToggleBookmark
Edit.NextBookmark
Edit.PreviousBookmark
Edit.RemoveallBookmarks
#SetRandomBookmark
Edit.SetRandomBookmark.0      Ctrl+Shift+0
Edit.SetRandomBookmark.1      Ctrl+Shift+1
Edit.SetRandomBookmark.2      Ctrl+Shift+2
Edit.SetRandomBookmark.3      Ctrl+Shift+3
Edit.SetRandomBookmark.4      Ctrl+Shift+4
Edit.SetRandomBookmark.5      Ctrl+Shift+5
Edit.SetRandomBookmark.6      Ctrl+Shift+6
Edit.SetRandomBookmark.7      Ctrl+Shift+7
Edit.SetRandomBookmark.8      Ctrl+Shift+8
Edit.SetRandomBookmark.9      Ctrl+Shift+9
#GetRandomBookmark
Edit.GetRandomBookmark.0      Ctrl+0
Edit.GetRandomBookmark.1      Ctrl+1
Edit.GetRandomBookmark.2      Ctrl+2
Edit.GetRandomBookmark.3      Ctrl+3
Edit.GetRandomBookmark.4      Ctrl+4
Edit.GetRandomBookmark.5      Ctrl+5
Edit.GetRandomBookmark.6      Ctrl+6
Edit.GetRandomBookmark.7      Ctrl+7
Edit.GetRandomBookmark.8      Ctrl+8
Edit.GetRandomBookmark.9      Ctrl+9
Edit.FindMatch                Ctrl+M
Edit.FindMatchSelect          Ctrl+Shift+M
Edit.FindInFile
#Format
Edit.Sort
Edit.IndentSelection          Ctrl+Shift+I
Edit.UndentSelection          Ctrl+Shift+U
Edit.UntabifySelection
Edit.TabifySelectionAll
Edit.TabifySelectionLeading
Edit.NormalizeKeyword
Edit.Lowercase                Ctrl+F5
Edit.Uppercase                Alt+F5
Edit.Capitalize
Edit.InvertCase               F5
Edit.CommentLine              Ctrl+Shift+C
Edit.UncommentLine            Alt+Shift+C
Edit.ExpandTemplate           Ctrl+J
Edit.DatetimeStamp
#Text
Edit.StreamSelection
Edit.ColumnSelection
Edit.ToggleSelectionMode      Ctrl+L
Edit.VisibleSpaces            Ctrl+Shift+H
Edit.LineNumbers
Edit.FileSettings
Edit.PermanentSettings
#View
View.Toolbar
View.StatusBar
View.FilePanel
View.Workbook
View.NextPane
View.PrevPane
#Database Session
Session.Connect		            Ctrl+D,C
Session.Disconnect            Ctrl+D,D
Session.Begin                 Ctrl+D,B
Session.Commit                Ctrl+D,O
Session.Rollback              Ctrl+D,R
Session.ODBCReport            Ctrl+Q,R
Session.SessionStatus         Ctrl+Q,S
#Script
Script.Native	        			  F9
Script.Execute                F5
Script.ExecuteCurrent         F10
Script.ExecuteAndStep		      F11
Script.FindTable              F12
Script.NextError			        F4
Script.PreviousError          Shift+F4
Script.Variables			  CTRL+B
#Window
Window.NewWindow
Window.Cascade
Window.TileHorizontally
Window.TileVertically
Window.ArrangeIcons
#Help
Help.Index                    F1
Help.AboutOpenEditor